#login_form{
            border: 5px solid rgb(149, 200, 142);
            border-radius: 10px;
            margin: 7%;
            padding: 2%;
            background-color: aliceblue;
        }
#field{
        border: 5px solid blue;
        border-radius: 10px;
    }
input{
        border: 1px solid rgb(202, 165, 17);
        border-radius: 8px;
        padding: 8px;
        color: #0f0;
    }
#city{
        border: 1px solid rgb(202, 165, 17);
        border-radius: 8px;
        padding: 8px;
    }
#st_year{
        border: 1px solid rgb(202, 165, 17);
        border-radius: 8px;
        padding: 5px;
    }
#end_year{
        border: 1px solid rgb(202, 165, 17);
        border-radius: 8px;
        padding: 5px;
    }
.main{
        background-image: url(aditya.png);
    }